.book {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 21px;
	line-height: 30px;
	border: 1px solid black;
}

.book > .title {
	border: 1px solid red;
	// outline: 1px solid orange;
	padding: 0px;
	margin:0px;
}
	
.book > .author {
	border: 1px solid red;
	// outline: 1px solid orange;
	padding: 0px;
	margin:0px
}